
# Everything here is optional
# Copy this file to .env


##########
# For user login support...

GUEST_ACCOUNT=guest_account

NUXT_SESSION_PASSWORD=ARandomStringAtLast32Characters

# Need a database for to keep track of users and their prompt IDs

MONGODB_URL=mongodb+srv://username:password@cluster5.aaaaaaa.mongodb.net

# For logins via Google.  Create in Google Apps
NUXT_OAUTH_GOOGLE_CLIENT_ID=00000-xxxxx.apps.googleusercontent.com 
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=AAAAAA-BBBBBBBBBBBBBBBBBBBBBBBBBBBB

# For logins via Facebook.  Create in Facebook
NUXT_OAUTH_FACEBOOK_CLIENT_ID=5555555555555555
NUXT_OAUTH_FACEBOOK_CLIENT_SECRET=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa


##########
# Payments...

# Create in Stripe.  Make a webhook that receives `payment_intent.succeed` events.

STRIPE_SECRET_KEY=sk_test_aaaaaaaaaaa
STRIPE_PUBLIC_KEY=pk_test_aaaaaaaaaaa
STRIPE_WEBHOOK_SECRET_KEY=whsec_aaaaaaaaaaaaaa

##########
# Security...

# For security if your website is on a different machine to your ComfyUI
# Install basic auth custom node in ComfyUI and put this same argument
COMFYUI_USERNAME=ARandomString
COMFYUI_PASSWORD=ARandomString

COMFYUI_URL=https://yourdomain.com:8188


